<div class="login-wrapper">
    <mat-card class="login-card">
      <div class="logo-container">
        <img src="assets/logo.png" alt="Logo" class="logo" (click)="goToHome()"/>
      </div>  

      <h2>Login</h2>
  
      <form [formGroup]="form" (ngSubmit)="login()" autocomplete="off">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" autocomplete="off" />
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" autocomplete="off" />
        </mat-form-field>
  
        <div class="forgot-password" (click)="forgotPassword()">
          Forgot password?
        </div>
  
        <div class="buttons">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Login</button>
          <button mat-button type="button" (click)="register()">Register</button>
        </div>
      </form>
    </mat-card>
  </div>
  