<div class="main-container" *ngIf="userId; else notLoggedIn">
  <h2 mat-dialog-title>Send Message</h2>
  <mat-dialog-content>
    <form [formGroup]="messageForm">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Your message</mat-label>
        <textarea matInput rows="5" formControlName="message"></textarea>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="send()" [disabled]="messageForm.invalid">Send</button>
  </mat-dialog-actions>
</div>

<ng-template #notLoggedIn>
  <div class="main-container">
    <h2 mat-dialog-title>Not Logged In</h2>
    <mat-dialog-content>
        <p>You must be logged in to send a message.</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="cancel()">Close</button>
    </mat-dialog-actions>
  </div>
</ng-template>
