<div class="main-container">
  <mat-card>
    <form [formGroup]="filterForm" class="filter-bar">
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Rooms</mat-label>
        <input matInput type="number" formControlName="rooms" min="1">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Min price</mat-label>
        <input matInput type="number" formControlName="minPrice" min="0">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>max price</mat-label>
        <input matInput type="number" formControlName="maxPrice">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Min area</mat-label>
        <input matInput type="number" formControlName="minArea" min="0">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Max area</mat-label>
        <input matInput type="number" formControlName="maxArea">
      </mat-form-field>

      <button mat-flat-button color="primary" class="filter-button" type="submit" (click)="applyFilters()">Search</button>
      <button mat-flat-button color="primary" class="filter-button" type="submit" (click)="clearFilters()">Clear</button>
    </form>

    <mat-list role="list">
      <mat-list-item *ngFor="let flat of flats" role="listitem" class="flat-item" (click)="goToFlat(flat)">
        <div class="flat-content">
          <div class="left">
            <img class="flat-thumbnail" *ngIf="flat.photos" [src]="flat.photos?.length ? mapPhoto(flat.photos[0]) : ''" alt="Flat thumbnail"/>
            <div class="info">
              <div class="name">{{ flat.name || 'Brak nazwy' }}</div>
              <div class="area">
                <mat-icon class="area-icon">aspect_ratio</mat-icon>
                {{ flat.area ? (flat.area + ' m²') : 'Unknown area' }}
              </div>
            </div>
          </div>
          <div class="right">
            <div class="meta">
              <div class="price">{{ flat.price ? (flat.price + ' $') : 'Unknown price' }}</div>
              <div class="location">
                <mat-icon class="location-icon">place</mat-icon>
                {{ getFlatLocation(flat) }}
              </div>
            </div>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
