<div class="main-container">
  <mat-card>
    <mat-list role="list">
      <mat-list-item *ngFor="let flat of flats" role="listitem" class="flat-item" (click)="goToFlat(flat)">
        <div class="flat-content">
          <div class="left">
            <img class="flat-thumbnail" *ngIf="flat.photos" [src]="flat.photos?.length ? mapPhoto(flat.photos[0]) : ''" alt="Flat thumbnail"/>
            <div class="info">
              <div class="name">{{ flat.name || 'Brak nazwy' }}</div>
              <div class="area">
                <mat-icon class="area-icon">aspect_ratio</mat-icon>
                {{ flat.area ? (flat.area + ' m²') : 'Unknown area' }}
              </div>
            </div>
          </div>
          <div class="right">
            <div class="meta">
              <div class="price">{{ flat.price ? (flat.price + ' $') : 'Unknown price' }}</div>
              <div class="location">
                <mat-icon class="location-icon">place</mat-icon>
                {{ getFlatLocation(flat) }}
              </div>
            </div>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
