.main-container {
  display: flex;
  justify-content: center;
}

mat-card {
  width: 100%;
  max-width: 700px;
  padding: 2rem;
  background-color: #f0f0f0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.actions {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
}


@media (min-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr 1fr;
  }
}

mat-form-field {
  width: 100%;
}

mat-checkbox {
  margin-top: 1rem;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;

  button {
    margin-left: 1rem;
  }
}