<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      mode="side"
      [opened]="isOpen"
      class="sidenav"
    >
      <button mat-icon-button (click)="toggleSidenav()" class="close-button">
        <mat-icon>close</mat-icon>
      </button>
  
      <mat-nav-list class="nav-list">
        <a mat-list-item (click)="goToHome()">Home</a>
        <a *ngIf="isLoggedIn" mat-list-item (click)="goToAddListing()">Add listing</a>
        <a *ngIf="isLoggedIn" mat-list-item (click)="goToChat()">Chat</a>
        <a *ngIf="isLoggedIn" mat-list-item (click)="goToMyProfile()">My profile</a>
        <a *ngIf="isLoggedIn != true" mat-list-item (click)="goToLogin()">Login</a>
        <a *ngIf="isLoggedIn" mat-list-item (click)="logout()">Logout</a>
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content class="sidenav-content">
      <button
        *ngIf="!isOpen"
        mat-icon-button
        (click)="toggleSidenav()"
        class="open-button"
        aria-label="Open sidenav"
      >
        <mat-icon>menu</mat-icon>
      </button>
  
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
  